[Unit]
Description=Automatically Create Symlink for QR Scanner

[Service]
Type=oneshot
ExecStart=/usr/local/bin/automonQR.sh

[Install]
WantedBy=multi-user.target
