[Unit]
Description=Main Python Application
After=network-online.target automon-qr.service

[Service]
User=appuser
WorkingDirectory=/opt/app/current
# Points to the Flask app's main file
ExecStart=/usr/bin/python3 /opt/app/current/app.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
