[Unit]
Description=Main Python Application
After=network-online.target automon-qr.service first-boot.service

[Service]
# User will be set by setup.sh to the user who ran the script
User=appuser 
WorkingDirectory=/opt/app/current
ExecStart=/opt/app/current/venv/bin/python3 /opt/app/current/app.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target